.header{
    width: 100%;
    height: 70px;
    line-height: 70px;
    position: fixed;
    top:0;
    left: 0;
    z-index: 1111111;
    background: #14141f !important;
}
.navigation{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.nav_list{
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
}
.nav_item a {
    text-decoration:none;
    color:#fff;
}

.active{
    color:#e250e5;
}

.logo h2{
    background: linear-gradient(-45deg,#E250E5,#4B50E6,#4B50E6);
    background-size: 100% 100%;
    background-clip: text;
    -webkit-text-stroke:3px transparent;
    -webkit-text-stroke:3px transparent;
    -webkit-text-fill-color: #14141f;
}
.nav_right .btn{
padding:7px 25px;
border: 1px solid #5142fc;
border-radius: 50px;
}
 .nav_right .btn a {
    color:#ffff;
    text-decoration: none;
    font-size: 0.8rem;

 }
 .nav_right .btn span i {
    color:#fff;
 }

 .nav_right .btn:hover{
    color: #fff;
 }
 .mobile_menu{
    color:#fff;
    font-size: 1.3rem;
    display: none;
 }
